.OVERLAY {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7);
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.POPUP_STYLE {
    margin: 2rem auto;
    padding: 2.5rem;
    background: #fff;
    border-radius: 15px;
    width: 70%;
    /* height: 95%; */
    position: relative;
    transition: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 1 4px black;
}

.choice-btn {
    font-size: 18px;
    padding: 0.7rem 1.5rem;
    background-color: aliceblue;
    border-radius: 30px;
    margin: 10px;
    transition: transform 0.3s;
    font-weight: bold;
}

.choice-btn:hover {
    background-color: var(--color-bg);
    transform: scale(0.98);
    color: white;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 12px;
    border-radius: 30px;
    border: darkred;
}

.choice-diagnose {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.QUESTION {
    box-shadow: 0 1px 3px black;
    text-align: justify;
    background-color: lightblue;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 0px 4px rgb(0, 0, 0);
}

.HIGHLIGHT {
    font-size: 20px;
    font-weight: bold;
}

.HIGHLIGHT-CHOICED{
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.7rem; 
}

.namechoice{
    width: 100%;
    margin: auto;
    text-align: center;
    color:rgb(251, 251, 251);
    background:rgb(22, 106, 180);
    border-radius: 5px;
}

.error {
    background-color: rgb(225, 29, 29);
    margin-top: 20px;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    font-weight: bold;
}

.error button {
    font-weight: bold;
    margin-top: 10px;
    border-radius: 20px;
}

.error button:hover {
    background: var(--color-bg);
    color:rgb(179, 214, 244);
}

@media screen and (max-width: 992px) {
    .choice-diagnose {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }

    .choice-btn {
        width: 45%;
        font-size: 14px;
        padding: 0.4rem;
        background-color: aliceblue;
        border-radius: 30px;
        margin: 5px;
    }

}

@media screen and (max-width: 576px) {
    .POPUP_STYLE {
        margin: 1rem;
        padding: 1rem;
        padding-top: 1.5rem;
        width: 92%;
    }

    .QUESTION {
        padding: 1.2rem;
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
        font-size: 14px;
        text-align: justify;
    }

    .HIGHLIGHT-CHOICED{
        font-size: 16px;
        margin-bottom: 0.3rem;
    }

    .center {
        width: 95%;
    }

    .close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.7rem;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 4px 10px;
        border-radius: 30px;
        border: darkred;
    }

    .choice-btn {
        font-size: 11px;
        padding: 0.4rem;
    }

    .HIGHLIGHT {
        font-size: 18px;
    }


}