:root {
  --color-bg: #07769e;
  --color-text-main: #000000;
  --color-text-header: #0691c3;
  --color-primary: #ffff00;
  --color-bg2: #cfe1ee;
  --color-form: #3f96d5;
  --color-quest: #a0e2ffe1;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
}

a {
  text-decoration: none;
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg2);
}

/* Page structure */
.wrapper {
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  min-height: var(--wrapper-height);
  display: flex;
  background-color: var(--color-bg2);
}

/* sidebar */

.sidebar-menu {
  width: 70px;
  background-color: var(--color-bg);
  height: 100%;
  margin-right: 10px;
  transition: transform 1s;
  display: block;
  position: fixed;
  margin-left: 0px;
  left: 0px;
}

.sidebar-menu .active {
  background: white;
  color: var(--color-bg);
}

.menu-aside {
  height: 70%;
  flex-wrap: nowrap;
  display: flex;
  list-style: none;
  padding: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.menuitem .fas {
  width: 35px;
}

.menuitem .fas:hover {
  transform: scale(0.94);
}

.menuitem2 .fas:hover {
  transform: scale(0.94);
}

.menu-item {
  margin: 15px auto;
}

.menuitem {
  padding: 5px;
  font-size: 28px;
  background: var(--color-bg);
  color: white;
  font-weight: bold;
  border-radius: 0.7rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0px 0px 3px black;
  transition: transform 0.5s;
}

.menuitem:hover {
  background: white;
  color: var(--color-bg);
  box-shadow: none;
}

.sidebar-menu-bot {
  display: none;
  margin-left: -150%;
  color: var(--color-bg2);
  display: flex;
}

.sidebar-menu-bot .active {
  background: var(--color-bg2);
  color: var(--color-bg);
}

.menu-aside2 {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  padding-top: 5px;
}

.navbar-toggler {
  padding: 0px;
  line-height: 0.7;
}

/* hết sidebar */

/* header*/
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
  margin-top: 0px;
  top: 0px;
  z-index: 2;
  background: var(--color-bg2);
}

.hi {
  margin-left: 10px;
  width: 150px;
}

.header-user {
  font-family: "Helvetica Neue", Helvetica, Arial;
  margin: auto;
  width: 100px;
  margin-right: 5px;
  font-size: 18px;
}

.header-user span {
  color: teal;
}

.info h5 {
  text-align: center;
  margin: 10px 30px;
  color: var(--color-text-header);
  font-weight: 900;
  font-family: Verdana;
  font-style: italic;
  font-size: 26px;
  text-shadow: 1px 1px 1px #000000;
}

.input-group {
  font-size: 16px;
  width: 220px;
  margin: auto;
  z-index: 0;
}

.content {
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 15px;
  width: 100%;
  background: var(--color-bg2);
}

.banner {
  margin-top: 35px;
}

.banner img {
  width: 97%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px black;
  transition: transform 0.3s;
}

.col-lg-2 {
  max-width: 15%;
}

/* hết header */

/* User */
.account {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.user {
  display: flex;
  justify-content: center;
}


.user-item {
  text-decoration: none;
  transition: transform 0.3s;
  background: var(--color-bg);
  box-shadow: 0px 2px 2px black;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.logout-btn {
  font-size: 22px;
}

.user-item:hover {
  background: rgba(148, 197, 245, 0.827);
  color: var(--color-bg);
  box-shadow: none;
  color: var(--color-text-main);
  text-decoration: none;
}

.user-header {
  text-align: center;
  background: var(--color-bg);
  padding: 5px 30px;
  padding-top: 10px;
  border-radius: 20px 20px 0px 0px;
  color: white;
}

.user-info {
  transition: transform 0.3s;
  background: white;
  box-shadow: 0px 1px 3px black;
  border-radius: 22px;
  color: var(--color-text-main);
}

.user-info p {
  width: 260px;
  padding: 10px;
  margin: 5px 20px;
  margin-bottom: 0px;
}

/* Hết User */

/* tình huống */
.question {
  width: 100%;
  border-top: 2px solid grey;
  flex-wrap: wrap;
  display: flex;
  margin: 50px 10px;
  padding: 10px;
}

.situation {
  overflow: hidden;
  box-shadow: 0px 2px 6px black;
  justify-content: center;
  height: 280px;
  margin: 15px 10px;
  padding: 0px;
  background: var(--color-quest);
  border-radius: 10px;
  transition: transform 0.2s;
}

.situation:hover {
  transform: scale(0.985);
  box-shadow: none;
  background: white;
  font-weight: 500;
  /* border: 1px solid rgb(0, 0, 0); */
}

.situation img {
  margin: 0px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}

.situation p {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 14px;
  margin: 0px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

/* hết tình huống */

/* Footer */
.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  background: var(--color-bg2);
  border-top: 2px solid rgb(15, 51, 56);
}

.logo {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}

.infof {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.footer img {
  width: 30%;
  margin: auto;
  box-shadow: 0px 2px 6px black;
  border-radius: 50%;
}

.footer iframe {
  margin: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px 2px 6px black;
}

.school {
  color: blue;
  font-weight: bold;
}

.footer i {
  color: blue;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
  color: var(--color-bg);
}

.footer p {
  font-size: 14px;
  margin: 15px;
}

#top-up {
  font-size: 2.8rem;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  color: #0861b9;
  bottom: 50px;
  right: 15px;
  display: none;
}

#top-up:hover {
  color: rgb(60, 175, 252)
}

.copy {
  width: 100%;
  text-align: center;
  color: grey;
  font-style: oblique;
}

.copy p {
  font-size: 10px;
}

/* hết footer */

/* Menu home */
.tog {
  margin-bottom: 10px;
}

nav {
  width: 100%;
  margin-left: 15px;
  margin-top: 25px;
  font-size: 18px;
  /* -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); */
}
.navbar .active{
  background: var(--color-bg);
  color: white;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar h5 {
  color: var(--color-text-header);
  margin-right: 10px;
  text-shadow: 1px 1px 1px #000000;
  font-family: Verdana;
}

.submenu {
  transition: transform 0.5s;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 30px;
}

.nav-item span {
  padding: 10px;
  display: inline-block;
}

.submenu:hover {
  transform: scale(0.98);
}

.submenu a {
  transition: transform 0.5s;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 30px;
}

a.dropdown-item {
  color: black;
  font-weight: bold;
  border-radius: 0px;
  margin: 0px;
  padding: 10px;
}

.submenu a:hover {
  background: var(--color-bg);
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}

.all select {
  transition: transform 2s;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 2px;
  margin-top: 5px;
  position: relative;
  margin-left: 20px;
}

/* hết menuu home */

/* Đăng nhập */
.bannerlog {
  margin: auto;
  display: flex;
  justify-content: center;
}

.mid {
  margin: auto;
  display: flex;
  width: 250px;
}

.bannerlog img {
  height: 330px;
  width: 350px;
  box-shadow: 0 0px 5px black;
}

.row {
  --bs-gutter-x: 0rem;
  margin-right: 0px;
  margin-left: 0px;
}

.account-page {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.account-page a {
  color: white;
}

.form-container {
  display: flex;
  width: 320px;
  height: 330px;
  position: relative;
  text-align: center;
  padding: 2% 0;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background: var(--color-form);
  justify-content: space-between;
  box-shadow: 0 0px 5px rgb(0, 0, 0);
}

.form-btn {
  display: inline-block;
}

.title-log {
  font-size: 25px;
  font-family: Verdana;
  width: 100%;
  font-weight: bold;
  padding: auto;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
}

.title-log h5 {
  box-shadow: 0 2px 2px rgb(71, 68, 68);
  padding-bottom: 7px;
  font-family: Verdana;
  width: 100%;
  font-weight: bold;
}

.form-container form {
  max-width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 10%;
  transition: transform 0.25s;
}

form .btn1 {
  width: 50%;
  border-radius: 10px;
  background: #e3f460;
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
}

form .btn1:hover {
  background: #fff;
}

form a {
  font-size: 12px;
}

.bannerlog img {
  border-radius: 10px;
}

.imgbanner {
  border: 2px solid #e3f2fd;
}

/* hết đăng nhập */

/* Giới thiệu */
.intro {
  border-radius: 10px;
  box-shadow: 0 0px 5px black;
  color: #004444;
  font-size: 30px;
  margin: 30px 30px;
  padding: 30px;
  font-weight: bold;
  font-family: Verdana;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro p {
  margin: 0px;
}

.top-intro,
.mid-intro,
.bot-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.MDSS {
  color: red;
  font-size: 32px;
  text-shadow: 0 0px 4px rgb(0, 72, 96);
}

.SP {
  color: rgb(3, 112, 185);
}

.interesting {
  color: rgb(243, 232, 78);
  text-shadow: 0 0px 4px rgb(255, 0, 0);
}

.SC {
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 4px black;
  font-size: 32px;
}

.Thanks {
  color: rgb(254, 60, 92);
}

/* hết Giới thiệu */

/* tài liệu */
.document{
  width: 95%;
  text-align: center;
  box-shadow: 0 1px 4px black;
  margin: auto;
  text-decoration: none;
  border-radius: 15px;
}
.document p{
  font-size: 2.5em;
  font-weight: bold;
  color:#03688c;
  text-transform: uppercase;
  text-decoration: none;

}

.document:hover{
  box-shadow: none;
  background: white;
  text-decoration: none;
  color: black;
}

.document a:hover{
  text-decoration: none;
  color: black;
}

.document p:hover{
  color: black;
}
/* hết tài liệu */

/* responsive */
@media screen and (max-width: 992px) {

  .sidebar-menu {
    width: 50px;
  }

  .header {
    left: 50px;
  }

  .input-group {
    font-size: 15px;
    width: 180px;
  }

  .header-user {
    font-size: 16px;
    margin-left: 30px;
  }

  .menuitem .fas {
    width: 30px;
    font-size: 22px;
  }

  .bannerlog img {
    max-width: 290px;
    max-height: 290px;
  }

  .form-container {
    max-width: 290px;
    max-height: 290px;
  }

  .user-info p {
    width: 230px;
  }

  .info h5 {
    font-size: 15px;
  }

  .input-group {
    padding-right: 15px;
  }

  .footer {
    margin-left: 70px;
    text-align: center;
  }

  .situation p {
    font-size: 12px;
  }

  .col-md-4 {
    max-width: 29%;
  }
}

@media screen and (max-width: 576px) {
  .header .info {
    width: 100%;
  }

  .input-group {
    font-size: 15px;
    width: 220px;
  }

  .header {
    left: 0px;
  }

  .navbar h5 {
    font-size: 17px;
  }

  .navbar {
    font-size: 15px;
  }

  .all {
    margin-left: 50%;
  }

  .header-user {
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin: 0px;
  }

  .hi {
    margin-left: -5px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .logout-btn {
    font-size: 15px;
  }

  .wrapper {
    width: 94%;
  }
  
  .document{
    margin-left: 20px;
  }
  
  .document p{
    font-size: 14px;
  }

  .sidebar-menu-bot {
    margin-bottom: -2px;
    display: block;
    margin-left: 0px;
    bottom: 0px;
    position: fixed;
    background-color: var(--color-bg);
    transition: transform 1s;
    height: 50px;
    width: 100%;
  }

  .sidebar-menu-bot .active {
    background: white;
    color: var(--color-bg);
  }

  .menu-aside2 {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    padding-top: 5px;
  }

  .menuitem2 {
    margin: 15px;
    padding: 5px;
    background: var(--color-bg);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    transition: transform 0.3s;
  }

  .menuitem2:hover {
    background: white;
    color: var(--color-bg);
    box-shadow: none;
    transform: scale(0.96);
  }

  .menuitem2 .fas {
    width: 25px;
    height: 35px;
    font-size: 18px;
  }

  .sidebar-menu {
    display: none;
  }

  .header {
    margin-left: 0px;
    padding-left: 0px;
  }

  .bannerlog img {
    max-width: 270px;
    max-height: 270px;
  }


  .form-container {
    max-width: 270px;
    max-height: 270px;
  }

  .banner img {
    max-width: 95%;
  }

  .content {
    margin-left: 0px;
    margin-top: 70px;
    margin-right: 0px;
  }

  .info h5 {
    font-size: 13px;
  }

  .footer {
    padding: 5px 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    text-align: center;
  }

  iframe {
    width: 270px;
    display: none;
  }

  .form-control {
    height: calc(1em + 0.6rem + 2px);
    font-size: 16px;
  }

  .header .info {
    width: 100%;
  }

  .input-group .btn {
    height: calc(1em + 1rem + 2px);
    font-size: 10px;
    padding: auto;
  }

  .intro {
    padding: 10px;
  }

  .intro p {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .mid-intro .SC {
    font-size: 18px;
  }

  .top-intro .MDSS {
    font-size: 18px;
  }

  .col-6 {
    max-width: 42%;
  }

  .situation {
    height: 200px;
  }

  .situation p {
    font-size: 10px;
  }

  li.nav-item {
    margin-top: 5px;
  }
}

@media screen and (max-width: 290px) {

  .bannerlog img {
    max-width: 250px;
    max-height: 250px;
  }

  .form-container {
    max-width: 250px;
    max-height: 250px;
  }

  .content {
    margin-left: 0px;
    margin-top: 100px;
  }

  .footer {
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 50px;
    text-align: center;
  }

  .menuitem2 {
    margin-left: -5px;
  }

  iframe {
    width: 250px;
  }
}

/* hết responsive */